/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26-May-2025, 10:12:55 pm
    Author     : DELL
*/

/*Aboutus Section*/

.about-us .content-left {
    position: relative;
    padding-right: 60px;
}

.about-us .content-left .single-img {
    width: 100%;
    border-radius: 5px;
}

.about-us .content-left .media-body {
    background-color: rgb(32, 66, 227);
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    box-shadow: rgba(35, 38, 45, 0.15) 0px 1rem 3rem !important;
    padding: 40px 30px 48px;
    border-radius: 5px;
}

.about-us .content-left .media-body h6 {
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.about-us .content-left .media-body p {
    color: rgb(255, 255, 255);
}

.about-us .content-left .media-body i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.27);
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
}

.about-us .content-right {
    padding-right: 70px;
    padding-left: 30px;
}

.about-us .content-right h2 {
    font-size: 32px;
    margin-bottom: 50px;
    line-height: 45px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}

.about-us .content-right .single-list {
    position: relative;
    padding-left: 80px;
    margin-bottom: 50px;
}

.about-us .content-right .single-list .list-bod{
    font-size: 17px;
}


/*Internship Section*/

.find-job .section-title {
    margin-bottom: 50px;
}

.find-job .single-job {
    margin-top: 30px;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    transition: all 0.4s ease;
    background-color: #fff;
}

.find-job .single-job:hover {
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
}


.find-job .single-job .job-content {
    position: relative;
}

.find-job .single-job .job-content h4 {
    padding-right: 200px;
    position: relative;
    padding-bottom: 20px;
}

.find-job .single-job .job-content p {
    display: inline-block;
    border-top: 1px solid #eee;
    padding-top: 18px;
}

.find-job .single-job .job-content ul {
    margin-top: 20px;
}

.find-job .single-job .job-content ul li {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 3px;
    position: relative;
    background: #2042e314;
    color: #2042e3;
    padding: 5px 10px;
    border-radius: 3px;
}

.find-job .single-job .job-content ul li i {
    font-size: 13px;
    display: inline-block;
    margin-right: 3px;
}

.find-job .single-job .job-content ul li a {
    color: #777;
}

.find-job .single-job .job-button {
    position: absolute;
    right: 40px;
    top: 40px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.find-job .single-job .job-button ul li {
    display: inline-block;
}

.find-job .single-job .job-button ul li a {
    padding: 5px 20px;
    border: 1px solid #eee;
    color: #081828;
    border-radius: 4px;
    font-size: 13px;
    text-transform: capitalize;
}

find-job .single-job .job-button ul li a:hover {
    color: #fff;
    background-color: #2042e3;
    border-color: transparent;
}

.find-job .single-job .job-button ul li span {
    padding: 5px 20px;
    background-color: #2042e3;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    text-transform: capitalize;
}

.find-job .explore-more{
    padding: 10px 25px;
    background-color: #2042e3;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.overlay {
    position: relative;
}

.other-page .navbar-area {
    background-color: #fff;
    border: none;
}

/*Contact Us*/

.contact-us {
    position: relative;
    background-color: #fff;
    padding-bottom: 0;
}

.contact-us .contact-head {
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    position: relative;
    z-index: 5;
}

.contact-us .form-main {
    padding: 50px 35px 50px 50px;
}

.contact-us .form .form-group {
    margin-bottom: 15px;
    display: block;
}

.contact-us .form .form-group input {
    height: 55px;
    line-height: 55px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0px 20px;
    color: #333;
    border-radius: 0px;
    font-weight: 400;
    border-radius: 5px;
}

.contact-us .form .form-group {
    margin-bottom: 15px;
    display: block;
}

.contact-us .form .form-group textarea {
    height: 180px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 15px 20px;
    color: #333;
    border-radius: 0px;
    resize: none;
    font-weight: 400;
    border-radius: 5px;
}

.contact-us .form .button {
    margin: 0;
}

.contact-us .form .form-group {
    margin-bottom: 15px;
    display: block;
}

.contact-us .single-head {
    padding: 50px;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 5;
    overflow: hidden;
    border-left: 1px solid #eee;
}

.contact-us .contant-inner-title {
    margin-bottom: 45px;
}

.contact-us .single-info {
    text-align: left;
    margin-bottom: 16px;
    padding-left: 40px;
    position: relative;
}

.contact-us .single-info i {
    color: #2042e3;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top: 2px;
}

.contact-us .single-info ul {
    display: inline-block;
}

.contact-us .single-info {
    text-align: left;
    margin-bottom: 16px;
    padding-left: 40px;
    position: relative;
}

.contact-us .single-info ul li:last-child {
    margin-bottom: 0;
}

.contact-us .single-info ul li a {
    font-weight: 500;
    color: #7E8890;
    display: inline-block;
    font-size: 13px;
}

.contact-us .contact-social {
    display: block;
    margin-top: 65px;
}

.contact-us .contact-social ul {
    margin-left: 10px;
}

.contact-us .contact-social ul li {
    display: inline-block;
    margin-right: 6px;
}

.contact-us .contact-social ul li a {
    font-size: 14px;
    color: #081828;
    height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    line-height: 40px;
    background: #E8ECF1;
    border: none;
    border-radius: 4px;
    position: relative;
    z-index: 3;
}


body .signup-btn .ui-button.ui-button-text-icon-left .ui-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5rem;
    left: 1.5rem;
}

.form-header{
    box-shadow: rgba(0, 0, 0, 0.043) 0px 16.4421px 41.1053px 0px;
}

job-details .job-details-inner {
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
}

.job-details .job-details-head {
    position: relative;
    z-index: 1;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EDEDED;
}

.job-details .job-details-head .salary-type .salary-range {
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 8px;
    color: #7E8890;
}

.job-details .job-details-head .badge {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 3px;
    position: relative;
    background: #2042e314;
    color: #2042e3;
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: 400;
    display: inline-block;
    margin-top: 5px;
}

.job-details .job-details-head .content .meta {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    color: #7E8890;
    display: block;
    margin-top: 10px;
}

.job-details .job-details-head li {
    display: inline-block;
    margin-right: 15px;
}

.job-details .job-details-head li a {
    color: #2042e3;
    font-weight: 500;
}

.job-details .job-details-head li i {
    color: #2042e3;
}

.job-details .job-details-body h6 {
    font-size: 20px;
}

.job-details .job-details-body p {
    margin: 20px 0;
}

.job-details .job-details-body ul {
    margin-left: 10px;
}

.job-details .job-details-body ul li {
    display: block;
    margin-bottom: 8px;
    position: relative;
    padding-left: 15px;
}

.job-details .job-details-sidebar .sidebar-widget {
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 30px;
}

.job-details .job-details-sidebar .sidebar-widget {
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 30px;
}

.job-details .job-details-sidebar .sidebar-widget .title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1;
    position: relative;
    padding-left: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.job-details .job-details-sidebar .sidebar-widget .list-unstyled li {
    display: block;
    margin-bottom: 8px;
}

.job-details .job-details-sidebar .sidebar-widget .list-unstyled li strong {
    color: #081828;
    font-weight: 600;
    display: inline-block;
    margin-right: 2px;
}

.job-details .job-details-sidebar .sidebar-widget:last-child {
    margin-bottom: 0;
}

.job-details .job-details-sidebar .sidebar-widget .title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1;
    position: relative;
    padding-left: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
}

.myContent{
    font-size: 18px;
}

.internshipContent{
    font-size: 15px;
}

.login-signup-content{
    color: #2042e3;
}
.custom-login-btn{
    background-color: #2042e3 !important;
    border-color: #4A90E2 !important;
    color: white !important;
}

.form-card-header{
    background-color: #2042e3 !important;
    color: white;
}

.field-message {
    background: none !important;
    border: none !important;
}

.field-message span {
    display: inline;
    color: red;
    font-size: 15px;
}

.ui-menubutton.profile-text > .ui-button {
    background-color: white;
    border: none;
    color: black;
    box-shadow: none;
}

.menulist .ui menu {
    width: 0px;
}

.dashboard-wrapper {
    padding-top: 8rem !important;
    padding-bottom: 4rem;
}

.dashboard-card {
    min-height: 100%;
}

.dashboard-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.progress-text {
    font-size: 0.9rem;
}

.application-status-list li {
    margin-bottom: 0.25rem;
}

.apply-status .header{
    color: white;
    background-color: #2042e3;
    padding: 10px;
}

.ui-column-filter {
    display: none !important;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-first-row-style{
    padding-bottom: 15px;
    flex: 1;
    margin-right: 20px;
}

.input-row-style{
    padding-bottom: 15px;
    flex: 1;
}

.field-message {
    background: none !important;
    border: none !important;
}

.field-message span {
    display: inline;
    color: red;
    font-size: 15px;
}

.customInput,
.customInput.ui-inputtext{
    box-shadow: none !important;
    width: 100% !important;
}

body .ui-inputfield{
    width: 100% !important;
}

.ui-rating .ui-rating-cancel.ui-state-focus{
    box-shadow: none !important;
}

.ui-rating .ui-rating-star.ui-state-focus{
    box-shadow: none !important;
}

/* Unselected stars (grayish by default) */
.ui-rating-star a {
    color: #ccc !important;
    font-size: 24px; /* Optional: size tweak */
}

.ui-rating-star-on a {
    color: #FFD700 !important;  /* Gold */
}
